body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 30px;
}
.name-color{
    color: gold
}
.upper-left-text{
    width: 48% ;
}
.Hire-button{
    background-image: linear-gradient(to right, lightsalmon, tomato);
    border: none;
    height: 30px;
    width: 70px;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}
.flex{
    display: flex;
    justify-content: space-around;
    height: 370px;
}
.upper-right-pic{
    width: 30%;

}
.upper-right-pic img{
    height: 100%;
    width: 100%;
}
.flex2{
    flex-direction: row-reverse;
}
.Resume-button{
    background-image: linear-gradient(to right, lightsalmon, tomato);
        border: none;
        height: 30px;
        width: 128px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
}
.box-1{
    width: 40%;
    height: 20em;
   box-shadow: 5px 5px 19px gray;
    padding-left: 25px;
    
}
.box-2{
    width: 40%;
        height: 20em;
    box-shadow: 5px 5px 19px gray;
        padding-left: 25px;
}
.orange{
 color: orange;
}
#slice-1{
    border-left: 7px solid;
        border-image: linear-gradient(180deg, lightSalmon, tomato);
        border-image-slice: 1;
}
#slice-2{
    border-left: 7px solid;
        border-image: linear-gradient(180deg, blue, cyan);
        border-image-slice: 1;
}
.footer{
    text-align: center;
    color: rgb(63, 62, 62);
}
.bg-1{
    background-image: url(./images/top-banner.png);
    margin: 0px;
    background-repeat: no-repeat;
  
}
.bg-2{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.bg-3{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
}